{% extends 'base.html' %}

{% block title %}zcgl{% endblock %}
{%block header%}  {%endblock%}
{%block nav%}
<li ><a href="{%url 'zcrk' %}"><span class="glyphicon glyphicon-heart"></span>zichanruku</a></li>
<li ><a href="{%url 'zcbf' %}"><span class="glyphicon glyphicon-asterisk"></span>zichanbaofei</a></li>
<li><a href="{%url 'zcjc' %}"><span class="glyphicon glyphicon-asterisk"></span>zichanjiechu</a></li>
<li ><a href="{%url 'zcgh' %}"><span class="glyphicon glyphicon-asterisk"></span>zichanguihuan</a></li>
<li ><a href="{%url 'zcwx'  %}"><span class="glyphicon glyphicon-asterisk"></span>zichanweixiu</a></li>
{%endblock%}
{% block content %}   qqq{%endblock%}