{% extends 'base.html' %}

{% block title %}zcgl{% endblock %}
{%block header%}  {%endblock%}
{%block nav%}
<li ><a href="{%url 'zcrk' %}"><span class="glyphicon glyphicon-heart"></span>资产入库</a></li>
<li ><a href="{%url 'zcbf' %}"><span class="glyphicon glyphicon-asterisk"></span>资产报废</a></li>
<li><a href="{%url 'zcjc' %}"><span class="glyphicon glyphicon-asterisk"></span>资产借出</a></li>
<li ><a href="{%url 'zcgh' %}"><span class="glyphicon glyphicon-asterisk"></span>资产归还</a></li>
<li ><a href="{%url 'zcwx'  %}"><span class="glyphicon glyphicon-asterisk"></span>资产维修</a></li>
{%endblock%}
{% block content %}   qqq{%endblock%}